{% extends "base.html" %}
{% block content %}
<div style="border: 1px solid black; padding: 2em; page-break-after: always;">

<a name="index"><h2>Location index</h2></a>
<ul>
{% for location in locations %}
	<li><a href="#location{{location.id}}">{{location.name}}</a></li>
{% endfor %}
	<li><a href="/">Back to location index</a></li>
</ul>
</div>

{% for location in locations %}
<div style="border: 1px solid black; padding: 2em; page-break-after: always;">
<a name="location{{location.id}}"><h2>{{ location.name }}</h2></a>
	<ul>
		{% for item in location.child_items.all %}
		<li><a href="#item{{item.id}}">{{ item.name }}</a></li>
		{% endfor %}
		{% for loc in location.children.all %}
		<li><em>See also:</em>
			<a href="#location{{loc.id}}">{{loc.name}}</a></li>
		{% endfor %}
		<li><a href="#index">Back to top</a></li>
	</ul>
	{% for item in location.child_items.all %}
	{% if item.claimant %}
	<div style="border: 1px solid black; padding: 2em; background-color: #fee; color: #000;">
	{% else %}
	<div style="border: 1px solid black; padding: 2em; background-color: #efe; color: #000;">
	{% endif %}
	<a name="item{{item.id}}"><h3>[{{item.code}}] {{ item.name }} ({{item.article_type.name}})</h3></a>

	<p>{{item.description}}</p>
	
	{% if item.claimant %}
	<p>This item has been claimed.</p>
	{% else %}
	<p>This item is available.</p>
	{% endif %}

	<p>
		{% for photo in item.photo_set.all %}
		<a href="{{photo.photo.url}}"><img
			src="{{photo.data_url}}" alt="" /></a>
		{% endfor %}
	</p>
	</div>
	{% endfor %}
</div>
{% endfor %}
{% endblock %}
