{% extends "base.html" %}
{% block content %}

<div id="l1_nav">
<a style="width: 50%" href="/">&Uarr; Index</a>
<a style="width: 50%" href="{% url 'location' item.location.id %}">&uarr; {{ item.location.name }}</a>
</div>

<div id="l2_nav">

{% if prev_item %}
<a style="width: 33%" href="{% url 'item' prev_item.id %}">&larr; {{prev_item.name}}</a>
{% else %}
<span style="width: 33%">&nbsp;</span>
{% endif %}

{% if item.contents %}
<a style="width: 33%" href="{% url 'location' item.contents.id %}">&darr; {{item.contents.name}}</a>
{% else %}
<span style="width: 33%">&nbsp;</span>
{% endif %}

{% if next_item %}
<a style="width: 33%" href="{% url 'item' next_item.id %}">{{next_item.name}} &rarr;</a>
{% else %}
<span style="width: 33%">&nbsp;</span>
{% endif %}

</div>

{% if item.claimant %}
<p class="item_availability item_taken">This item has been claimed.</p>
{% else %}
<p class="item_availability item_available">This item is available.</p>
{% endif %}

<p>{{item.description}}</p>

{% if photos %}
<hr />

<p style="text-align: center">
{% for photo in photos %}
<a href="/{{ photo.photo.url }}"><img alt="" src="/{{ photo.photo.url_400x400 }}" /></a>
{% endfor %}
</p>
{% endif %}
{% endblock %}
