{% extends "base.html" %}
{% block content %}

<div id="l1_nav">

{% if prev_loc %}
<a style="width: 25%" href="{% url 'location' prev_loc.id %}">&larr; {{prev_loc.name}}</a>
{% else %}
<span style="width: 20%">&nbsp;</span>
{% endif %}

{% if parent_item %}
<a style="width: 20%" href="{% url 'item' parent_item.id %}">&uarr; {{ parent_item.name }}</a>
{% else %}
<span style="width: 20%">&nbsp;</span>
{% endif %}

<a style="width: 10%" href="/">&Uarr; Index</a>

{% if parent %}
<a style="width: 20%" href="{% url 'location' parent.id %}">&uarr; {{ parent.name }}</a>
{% else %}
<span style="width: 20%">&nbsp;</span>
{% endif %}

{% if next_loc %}
<a style="width: 25%" href="{% url 'location' next_loc.id %}">{{next_loc.name}} &rarr;</a>
{% else %}
<span style="width: 20%">&nbsp;</span>
{% endif %}

</div>

{% if child_locations %}
<ul>
	{% for child in child_locations %}
	<li><a href="{% url 'location' child.id %}">{{ child.name }}</a>
	{% endfor %}
</ul>
{% endif %}

{% if child_items %}
<hr />

<div style="text-align: center;">
{% for child in child_items %}

<div class="item item_thumb
	{% if child.claimant %}
		item_taken
	{% else %}
		item_available
	{% endif %}">
	<div class="item_thumb_img">
		<a href="{% url 'item' child.id %}">
		{% if child.photo %}
			<img align="absmiddle" alt="" src="/{{ child.photo.photo.url_100x100 }}" />
		{% else %}
			&lt;NO PHOTO&gt;
		{% endif %}</a>
	</div>
	<div class="item_thumb_txt"><a href="{% url 'item' child.id %}">
		[{{child.code}}] {{child.name}}
	</a></div>
</div>

{% endfor %}
</div>
{% endif %}
{% endblock %}
