{% extends "base.html" %}
{% block content %}

{% if parent %}
<a href="{% url 'location' parent.id %}">&larr; {{ parent.name }}</a>
{% endif %}
{% if parent_item %}
<a href="{% url 'item' parent_item.id %}">&larr; {{ parent_item.name }}</a>
{% endif %}
<a href="/">&uarr; Top</a>

{% if child_locations %}
<ul>
	{% for child in child_locations %}
	<li><a href="{% url 'location' child.id %}">{{ child.name }}</a>
	{% endfor %}
</ul>
{% endif %}

{% if child_items %}
<hr />
{% for child in child_items %}
<div>
	<a href="{% url 'item' child.id %}">
		{% if child.photo %}
		<img src="/{{ child.photo.photo.url_100x100 }}" />
		{% else %}
		&lt;NO PHOTO&gt;
		{% endif %}<br />
		[{{child.code}}] {{child.name}}
		{% if child.claimant %}✘{%else%}✔{% endif %}</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}
